*.gz
*.png
*.html
workspace/.metadata/
workspace/
.metadata/
*.txt
*.out
*.RData
*.o
*.dll
.Rproj.user
PhylGeo.Rcheck/00_pkg_src
00check.log
RcppExports.cpp

.Rhistory

PhylGeo/src/PhylGeo.so

PhylGeo/vignettes/Intro.tex

PhylGeo/vignettes/Rplots.pdf

PhylGeo/vignettes/Intro.pdf

PhylGeo/vignettes/Intro.log

PhylGeo/vignettes/Intro-concordance.tex

PhylGeo/R/RcppExports.R

PhylGeo/R/RcppExports.R

PhylGeo/src/.cproject

PhylGeo/src/.project

PhylGeo/.RData

PhylGeo/.RData

PhylGeo/.Rhistory
PhylGeo.Rcheck

PhylGeo/vignettes/Intro-*.pdf

PhylGeo/temp/*



PhylGeo/src/PhyloSim.so
PhyloSim.so
PhyloSimManual-concordance.tex
PhyloSimManual.bbl
PhyloSim/vignettes/PhyloSimManual.blg
PhyloSim/vignettes/PhyloSimManual.log
PhyloSim/vignettes/PhyloSimManual.pdf
PhyloSimManual.toc
PhyloSim/vignettes/Sweave.sty
PhyloSim/vignettes/Sweavel.sty
PhyloSim/vignettes/figure

PhyloSim/vignettes/PhyloSimManual.tex

PhyloSim/examples/SAC/SAC_cache/
PhyloSim/inst/doc/PhyloSimManual.pdf

PhyloSim/inst/doc/PhyloSimManual.pdf

PhyloSim/inst/doc/PhyloSimManual.pdf

PhyloSim/vignettes/Vignette_bib.bib.bak

PhyloSim/inst/doc/PhyloSimManual.Rnw

PhyloSim/inst/doc/PhyloSimManual.R

PhyloSim/inst/doc/PhyloSimManual.pdf
*.aux
*.idea
CMakeFiles
cmake-build-debug
