*.gz
*.png
*.html
workspace/.metadata/
workspace/
.metadata/
*.txt
*.out
*.RData
*.o
*.dll
.Rproj.user
PhylGeo.Rcheck/00_pkg_src
00check.log
phylosim.Rproj
RcppExports.cpp

.Rhistory

PhylGeo/src/PhylGeo.so

PhylGeo/vignettes/Intro.tex

PhylGeo/vignettes/Rplots.pdf

PhylGeo/vignettes/Intro.pdf

PhylGeo/vignettes/Intro.log

PhylGeo/vignettes/Intro-concordance.tex

PhylGeo/R/RcppExports.R

PhylGeo/R/RcppExports.R

PhylGeo/src/.cproject

PhylGeo/src/.project

PhylGeo/.RData

PhylGeo/.RData

PhylGeo/.Rhistory
PhylGeo.Rcheck

PhylGeo/vignettes/Intro-*.pdf

PhylGeo/temp/*



PhylGeo/src/PhyloSim.so
