*.gz
*.png
*.html
workspace/.metadata/
workspace/
.metadata/
*.txt
*.out
*.RData
*.o
*.dll
.Rproj.user
PhylGeo.Rcheck/00_pkg_src
00check.log
phylosim.Rproj
RcppExports.cpp

.Rhistory

PhylGeo/src/PhylGeo.so
