useDynLib(PhylGeo)
useDynLib(thesis, callRandomGenRandomPoisson, callModel, callLeipzig)
useDynLib(libtrainDLL, add_, multi_, call_MyClass_func)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
